body {
  margin: 0;
  overflow-x: hidden;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10%;
  width: 70%;
}

input {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  margin: 10px 10%;
}

.list-item {
  margin: 0 10%;
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid gray;
  width: 90%;
}

span {
  font-size: 30px;
}

.list p {
  width: 90%;
  font-size: 20px;
}

.btn {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}
